* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
    all: unset;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: sticky;
    bottom: 0;
    background-color: #282828;
}

footer img {
    width: calc(100%/3);
    height: auto;
}

footer h2 {
    font-size: .8em;
}

footer h3 {
    font-size: .6em;
}


.name-author,
.player,
.volume {
    width: calc(100%/3);
    height: 100%;
}

/* div.back-forward {
    height: 100%;
} */

div.song-author {
    width: 66%
}

section.player nav {
    width: 100%;
}


section.name-author i {
    width: 100%;
}

div.range-reproduction {
    width: 60%;
    height: .2em;
    background-color: #5a5a5a;
    cursor: pointer;
}

div.reproducted {
    width: 40%;
    height: .19em;
    background-color: #c1c1c1;
}

div.back-forward h2 {
    width: 14%;
}

.fa-list,
.fa-desktop,
.fa-volume-high {
    width: 15%;
}

section.volume ul {
    display: flex;

}

div.volume-reproduction {
    width: 50%;
    height: .2em;
    background-color: #5a5a5a;
    cursor: pointer;
}

div.volumed {
    width: 40%;
    height: .19em;
    background-color: #c1c1c1;
}




.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.centered {
    margin: 0 auto;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.white {
    color: #f2f2f2;
}

.grey {
    color: #5a5a5a;
}

