* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    min-width: 500px;
}

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
    all: unset;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

header {
    width: 60px;
    height: calc(100vh - 85px);
    /*Da togliere*/
    background-color: #000000;

}

main {
    height: calc(100vh - 85px);
    width: calc(100vw - 60px);
    /*Da togliere*/
    background-color: #141922;
    overflow: scroll;
}

aside {
    height: 100px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 3;
    
    background-color: #080b12;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100vw;
    padding: 0 10px;
    background-color: #282828;
}

footer img {
    width: 23%;
    height: auto;
    margin-right: .5rem;
}

footer h2 {
    font-size: .8em;
}

footer h3 {
    font-size: .5em;
}



.name-author,
.volume {
    width: calc(50% / 2);
    height: 100%;
}

.player {
    width: 50%;
}

div.back-forward {
    width: 90%;
}

/* div.song-author {
    width: 66%
} */


section.player nav {
    width: 100%;
    justify-content: center;
    align-items: center;
}

section.name-author ul {
    margin-right: .3rem;
}

section.name-author i {
    width: 100%;
    margin-top: .2rem;
}

div.range-reproduction {
    width: 80%;
    height: .2em;
    background-color: #5a5a5a;
    cursor: pointer;
    border-radius: 20px;
}

div.start-stop {
    margin-bottom: .6rem;
}

div.start-stop button {
    margin: 0 .5rem;
}

div.reproducted {
    width: 40%;
    height: .19em;
    background-color: #c1c1c1;
    border-radius: 20px;

}

div.back-forward h2 {
    width: 14%;

}

div.back-forward h3:first-child {
    margin-right: .5rem;
}

div.back-forward h3:last-child {
    margin-left: .5rem;
}

.fa-list,
.fa-desktop,
.fa-volume-high {
    width: 15%;
}

section.volume ul {
    display: flex;
    width: 100%;
}

section.volume ul li {
    width: calc((50% / 3) - 10px);
}

section.volume ul li:last-child {
    width: 50%;
}



div.volume-reproduction {
    width: 100%;
    height: 3px;
    background-color: #5a5a5a;
    cursor: pointer;
    border-radius: 20px;
}

div.volumed {
    width: 40%;
    height: 2.8px;
    background-color: #c1c1c1;
    border-radius: 20px;

}

#stringa-volume {
    align-self: center;
}

#img-download {
    width: 15px;
    margin-right: .6rem;

}

#img-profile {
    width: 25px;
    height: 25px;
    margin-right: .6rem;
    background-color: #808080;
    border-radius: 50%;
}

section.volume {
    flex-direction: row-reverse;

}

section.volume li {
    margin-left: .5rem;
}

section.home ul {
    padding: .7rem 0;
    width: 100%;

}

section.home li {
    padding-bottom: .9rem;
    padding-left: 15.2px;
}

section.home li.in-on {
    border-left: 1px solid #9ce52d;
}

section.home li:hover,
section.profile li:hover{
    color: white;
    cursor: pointer;
}

.fa-swatchbook,
.fa-magnifying-glass,
.fa-house {
    padding-left: 4px;
}



section.profile li {
    display: flex;
    align-items: center;
}

section.profile li:first-child {
    margin-bottom: 1rem;
}

section.profile li:last-child {
    margin-bottom: .4rem;
}

section.profile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.home {
    overflow: auto;
}

aside button {
    text-transform: uppercase;
    background-color: #080b12;
    border: 1px solid #c8c9cb;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    margin-right: 10px;
}

aside button:hover {
    transform: scale(1.2);
    transition: all .6s; 

}

main nav h2:hover {
    color: white;
    cursor: pointer;
    
}

main nav h2 {
    font-size: .8rem;
    margin-right: .5rem;
    margin-top: 1rem;
    padding: 0 .5rem;
    color: #75787d;
    text-transform: uppercase;

}

.cat-choose {
    width: 30px;
    height: 2px;
    background-color:  #9ce52d;
    
}

main section {
    margin-top: 2rem;
}

main article {
    width: calc((100%/2) - 17.5px);
    margin-left: 15px;
    margin-top: 1rem;
}

main article:last-child {
    margin-right: 15px;
}

main article img {
    z-index: 2;

}

main article img:hover,
.play-hover:hover {
    position: relative;
    filter: opacity(50%);
    z-index: 0;
    cursor: pointer;
}

.play-hover {
    z-index: 1;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}









main article img {
    width: 100%;
}

main h1 {
    font-size: 1.3rem;
    margin-left: 15px
}

main article h2 {
    color: white;
    font-size: .7rem;
    margin-top: .5rem;
    text-align: center;
}

main article h3 {
    color: #6c6f74;
    font-size: .5rem;
    margin-top: .5rem;
    text-align: center;


}

section.my-mixtape h3,
section.most-listened h3 {
    font-size: .6rem;
    color: #6c6f74;
    margin-left: 15px;
    margin-top: .5rem;
}

section.most-listened img {
    border-radius: 50%;
}

div.love-folder i:hover {
    color:white
}

div.song-author li:last-child:hover,
div.song-author li h3:hover {
    color: white;
    text-decoration: underline;
}

div.range-reproduction:hover div.reproducted,
div.volume-reproduction:hover div.volumed,
div.reproducted:hover,
div.volumed:hover {
    background-color: #9ce52d;    
}

div.range-reproduction:hover div.circle-range,
div.volume-reproduction:hover div.circle-range,
div.volumed:hover div.circle-range,
div.reproducted:hover div.circle-range {
    display: inline-block;
}

button.button-normal i:hover {
    font-size: 18px;
    
}

button.button-NOT-normal i:hover {
    font-size: 30px;
}

div.circle-range {
    bottom: 3px;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: none;
    align-self: center;
}




.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.centered {
    margin: 0 auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.white {
    color: #f2f2f2;
}

.grey {
    color: #5a5a5a;
}

.no-display {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

@media screen and (min-width: 440px) {
    section.name-author > img {
        display: inline-block;
    }
}

@media screen and (min-width: 576px) {
    header {
        width: 200px;
        height: calc(100vh - 85px);
        color: #707070;
        background-color: #000000;
    }

    main {
        width: calc(100vw - 200px);
    }

    footer img {
        height: calc(100%/2);
        width: auto;
    }

    img.display {
        display: none;
    }

    img.no-display,
    h2.no-display,
    div.no-display,
    h1.no-display,
    hr.no-display {
        display: inline;
    }

div.playlist {
    overflow: auto;
}


    div.playlist h1 {
        display: inline-block;
    }




    header h1 {
        font-size: .9rem;
    }

    h2 {
        font-size: .8rem;
    }


    section.home li {
        width: 82%;
    }

    section.profile {
        padding: 0 15.2px;
    }

    section.profile li:first-child {
        border-bottom: 1px solid white;
        margin-bottom: .6rem;
        padding-bottom: .6rem;
        padding-top: .4rem;
    }

    section.profile li:last-child {
        margin-bottom: .4rem;
    }

    section.profile ul {
        display: block;
    }


    section.name-author li {
        display: table-cell;
        padding-right: .2rem;
    }

    div.back-forward {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    section.name-author i {
        width: 50%;
    }

    .fa-heart {
        padding-right: 1.5rem;
    }

    main article {
        width: calc((100%/4) - 17.5px);
    }

    section.volume ul {
        width: 70%;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 992px) {
    main article {
        width: calc((100%/6) - 17.5px);
    }

    section.name-author ul {
        margin-right: 1.3rem;
    }

    section.volume ul {
        width: 50%;
        justify-content: flex-end;
    }
}

    @media screen and (min-width: 1270px) {
        section.recently-played {
            justify-content: space-around;
        }
        
        main article {
            width: 145.833px;
            height: 214.333px;
            
        }

        section.volume ul {
            width: 40%;
            justify-content: flex-end;
        }
}







