* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
    all: unset;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

header {
    width: 60px;
    height: calc(100vh - 85px);
    /*Da togliere*/
    background-color: #000000;
}

main {
    height: calc(100vh - 85px);
    width: calc(100vw - 60px);
    /*Da togliere*/
    background-color: violet;
}

aside {
    height: 100px;
    position: sticky;
    top: 0;
    
    /*Da togliere*/
    background-color: rgb(127, 255, 127);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100vw;
    padding: 0 10px;
    background-color: #282828;
}

footer img {
    width: 23%;
    height: auto;
}

footer h2 {
    font-size: .8em;
}

footer h3 {
    font-size: .6em;
}


.name-author,
.player,
.volume {
    width: calc(100%/3);
    height: 100%;
}

/* div.back-forward {
    height: 100%;
} */

/* div.song-author {
    width: 66%
} */

section.player nav {
    width: 100%;
}


section.name-author i {
    width: 100%;
}

div.range-reproduction {
    width: 80%;
    height: .2em;
    background-color: #5a5a5a;
    cursor: pointer;
}

div.start-stop {
    margin-bottom: .6rem;
}

div.reproducted {
    width: 40%;
    height: .19em;
    background-color: #c1c1c1;
}

div.back-forward h2 {
    width: 14%;
}

.fa-list,
.fa-desktop,
.fa-volume-high {
    width: 15%;
}

section.volume ul {
    display: flex;

}

div.volume-reproduction {
    width: 55px;
    height: 3px;
    background-color: #5a5a5a;
    cursor: pointer;
}

div.volumed {
    width: 18px;
    height: 2.8px;
    background-color: #c1c1c1;
}

#stringa-volume {
    align-self: center;
}

section.volume {
    flex-direction: row-reverse;

}

section.volume li {
    margin-left: .4rem;
}

section.home ul {
    padding: .7rem;
    width: 100%;

}

section.home li {
    margin-bottom: .9rem;
}

.fa-swatchbook,
.fa-magnifying-glass,
.fa-house {
    padding-left: 4px;
}



.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.centered {
    margin: 0 auto;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.white {
    color: #f2f2f2;
}

.grey {
    color: #5a5a5a;
}

.no-display {
    display: none;
}

@media screen and (min-width: 576px) {
    header {
        width: 200px;
        height: calc(100vh - 85px);
        /*Da togliere*/
        background-color: aqua;
    }

    main {
        width: calc(100vw - 200px);
    }

    footer img {
        height: calc(100%/2);
        width: auto;
    }

    img.display {
        display: none;
    }

    img.no-display,
    h2.no-display {
        display: inline;
    }

    h2 {
        font-size: .8rem;
    }

    section.home li {
        width: 82%;
    }
}

@media screen and (min-width: 768px) {
    section.name-author i {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    
}







